.user-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.user-form-box {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 600px; 
  border: 1px solid #e6e6e6;
  margin-top: 40px;
  text-align: left;
}

.user-form-nav {
  padding: 20px;
  border-right: 1px solid #e6e6e6;
  width: 100px;
}

@media (max-width: 600px) {
        .user-form-nav {
          display: none;
        }
 }

.user-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 380px;
}

.edit-profile-picture {
  display: flex;
  margin-left: 40px;
  margin-bottom: 20px;
}

.edit-profile-picture > img {
  height: 40px;
  width:  40px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-picture-button {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.edit-picture-button input[type="file"] {
    display: none;
}

.profile-file-upload {
    cursor: pointer;
    font-size: 14px;
    color: #3897f0;
    font-weight: bold;
}

.user-username-title {
  text-align: left;
  font-size: 20px;
}

.user-input-container {
  text-align: right;
}


.user-input-container div {
  padding-bottom: 10px;
}

.user-input-container label {
  font-weight: bold;
  padding-right: 30px;
}


.user-input {
  background-color: #ffffff;
  margin: 3px auto;
  border: 1px solid #f0f0f0;
  padding: 10px;
  width: 250px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: left;
} 

.user-username-bio label {
  vertical-align: 30px;
}

.user-username-bio textarea {
  resize: none;
   font-family: 'Roboto', sans-serif;
}

.user-submit {
  background-color: #3897f0;
  border-radius: 5px;
  width: 50px;
  margin: 5px auto;
  padding: 7px 10px;
  color: #ffffff;
  text-align: center; 
  font-size: 14px;
  font-weight: bold;
} 

.user-submit-box {
  text-align: center;
  padding-top: 20px;
}

