.body {
  background: #fafafa;
}

.login-form-container {
  background: #fafafa;
  display: flex;
  width: fit-content;
  margin: 5px auto;
  align-items: center;
  height: 100vh;
}

.main-title {
  font-family: 'Cookie', cursive;
  text-align: center;
  font-size: 60px;
  padding-top: 20px;
  background-color: #ffffff;
}

.login-form-image {
  width: 425px;
  margin: 5px;
}

@media (max-width: 875px) {
        .login-form-image {
          display: none;
        }
 }

.login-form-box {
  height: 500px;
  margin: 5px;
}
  
.login-form-phrase {
  margin: 0 auto;
  width: 250px;
  font-size: 18px;
  font-weight: 400;
  text-align: center; 
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: #ffffff;
  color: #999;
  padding: 10px;
}

.login-form {
  padding: 5px;
  display: flex;
  width: 340px;
  flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 10px;
  border: 1px solid #f0f0f0;
}


.login-alt-box {
  padding: 20px;
  border: 1px solid #f0f0f0;
  text-align: center; 
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box; 
}

.login-input-container {
  margin-top: 10px;
  text-align: center; 
}
.session-submit-box {
  margin: 5px auto;
  text-align: center; 
  vertical-align: middle;
}
.session-submit {
  background-color: #3897f0;
  border-radius: 5px;
  width: 250px;
  margin: 5px auto;
  padding: 7px 10px;
  color: #ffffff;
  text-align: center; 
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.login-errors {
  background-color: #ffffff;
  padding: 20px;
  text-align: center; 
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #ff0000;
}

.login-input {
  background-color: #fafafa;
  margin: 3px auto;
  border: 1px solid #f0f0f0;
  padding: 10px;
  width: 250px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: left;
}

.login-link-container {
  color: #3897f0;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px auto;
  font-size: 13px;
  margin: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  align-items: center;
  vertical-align: bottom;
}


.footer-copy {
  display: block;
  color: #aaa;  
}

.login-bottom-links {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin: 0px auto;
  color: #003569;
  
}

input[type="submit"]:disabled {
  opacity: 0.6;
}