.post-index-container {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; 
}

.post-index-images {
  display: block;
}

.post-index-image-box {
  margin: 0 auto;
  padding-top: 60px;
  width: 614px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.post-index-image-header {
  height: 60px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 3px 3px 0px 0px;
}
.post-index-author-img {
  height: 40px;
  width: 40px;
  display: block;
}
.post-index-image-header h2 {
  margin-left: 10px;
}

.post-index-author-img > img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.post-index-image {
  display: block;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.post-index-image img {
  height: 614px;
  object-fit: cover;
  display: block;
}

.post-index-image-bottom {
  background: #ffffff;
  display: block;
  border: 1px solid #e6e6e6;
  padding: 0 20px;
  border-radius: 0px 0px 3px 3px;
}

.post-index-image-icons {
  margin-top: 10px;
  margin-bottom: 10x;
  display: flex;
  align-items: center;
  
}

.post-index-image-icons > img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.full-heart-icon, .empty-heart-icon, .comment-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.post-index-image-likes {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}


.post-index-image-body {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-index-author {
  font-weight: 500;
}

.post-index-image-body > p {
  padding-left: 5px;
  font-weight: 400;
}

.post-index-image-comments {

}

.post-index-image-add-comment {
  border-top: 1px solid #e6e6e6;
  padding: 15px 0px;
  box-sizing: border-box;
}



