.post-comment-container {
  height: 490px;
}

.post-comment-form {

}

.post-comment-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 490px;
}

#post-comment-body-top {
  overflow: auto;
  height: 490px;
}

.post-comment-icons {
  border-top: 1px solid #e6e6e6;
}
.post-comment-icons i {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.post-comment-likes {
  /* padding-top: 10px; */
  padding-bottom: 10px;
}

.post-comment-username-body {
  display: flex;
  align-content: center;
  /* width: 550px; */
} 

.post-comment-list-item {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post-comment-items {
  display: flex;
  align-items: center;
}

.post-comment-username {
  font-weight: 500;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post-comment-text {
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: lighter;
  width: 225px;
} 

.trash-icon {
  display: block;
  position: relative;
  /* right: 25px; */
}

.trash-icon:hover {
  cursor: pointer;
}
.trash-icon img {
  height: 15px;
  width: 15px;
  position: relative;
  right: 25px;
}

.post-comment-add-comment-box {
  border-top: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
}

.post-comment-add-comment {
  padding: 15px 0px;
  box-sizing: border-box;
  width: 85%;
  display: flex;
}

.post-comment-add-comment > textarea {
  resize: none;
  padding-top: 5px;
  height: 30px;
  width: 200px;
}

.post-comment-submit-button {
  /* padding-left: 22px; */
  color: #3897f0
} 